.hiIAM{
    font-size: 210%;
}

.pro a, .footerLink{
    color: brown;
}

.location{
    font-size: 130%;
}

.icon-sec1{
    font-size: 180%;
}

.icon-sec1 a{
    text-decoration: none;
    color: white;
    transition: 200ms ;
}

.icon-sec1 a:hover .github{
    text-decoration: none;
    transition: 200ms;
}

.icon-sec1 a:hover .instagram{
    text-decoration: none;
    color: rgb(198, 58, 98);
    transition: 200ms;
}

.icon-sec1 a:hover .linkedin{
    text-decoration: none;
    color: rgb(0, 123, 182);
    transition: 200ms;
}

.icon-sec1 a:hover .hackerrank{
    text-decoration: none;
    color: rgb(39, 180, 89);
    transition: 200ms;
}

.name{
    font-size: 350%;
    font-weight: bolder ;
    transition: 0.5s;
}

.intro{
    padding-top: 30%;
    color: #ffffff;
}

.projectHead{
    font-size: 300%;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
}

.pro{
    background-color:#ffffff; 
    color: #000000;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: 0.5s;
}

.pro:hover{
    background-color: rgb(245, 237, 245);
    margin-top: -1%;
    margin-bottom: 5%;
}

.projectTitle{
    font-size: 200%;
    font-weight: bold;
}

.projectDesp{
    text-align: justify;
}

.contactHead{
    font-size: 200%;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.footer{
    background-color:#ffffff; 
    color: #000000;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    transition: 0.5s;
}

.footer:hover{
    margin-top: 0%;
    font-size: 105%;
    color: #e03939;
}

.footerLink:hover{
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;
}

@media screen and (max-width: 500px){
    .intro{
        padding-top: 90%;
        color: #ffffff;
    }
    .name{
        font-size: 240%;
        font-weight: bold;
    }
    .location{
        font-size: 100%;
    }
}


