.hiIAM{
    font-size: 210%;
}

.location{
    font-size: 130%;
}

.name{
    font-size: 350%;
    font-weight: bold;
}

.intro{
    padding-top: 30%;
    color: #ffffff;
}

@media screen and (max-width: 400px){
    .intro{
        padding-top: 80%;
        color: #ffffff;
    }
}
