.hiIAM{
    font-size: 210%;
}

a{
    color: brown;
}

.location{
    font-size: 130%;
}

.name{
    font-size: 350%;
    font-weight: bold;
    transition: 0.5s;
}

.intro{
    padding-top: 30%;
    color: #ffffff;
}

.projectHead{
    font-size: 300%;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
}

.pro{
    background-color:#ffffff; 
    color: #000000;
    padding: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    transition: 0.5s;
}

.projectTitle{
    font-size: 200%;
    font-weight: bold;
}

.pro:hover{
    background-color: rgb(240, 234, 234);
    margin-top: -1%;
    margin-bottom: 5%;
}

.projectDesp{
    text-align: justify;
}

@media screen and (max-width: 400px){
    .intro{
        padding-top: 80%;
        color: #ffffff;
    }
}
